.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
  #Encabezado{
    display: flex;
    justify-content: center;
    color: black;
  }
  #Boton{
    display: flex;
    justify-content: flex-end;
    height:2em;
    margin-top:2em;
  

  }
  .fondoColor{
    border: 5%;
    background: linear-gradient(#3f3e3f);
    height: 60vw
  }
